// colors

$purple: rgb(97,58,180);
$dark-purple: rgba(97, 58, 180, 0.438);
$light-purple: rgb(191, 69, 252);

$green: rgb(29, 253, 78);
$green-secondary: rgb(58, 226, 43);
$dark-green: rgb(2, 138, 2);
$mint: rgb(0, 209, 146);
$mint-secondary: rgb(0, 197, 131);
$pine: rgb(2, 102, 69);
$dark-pine: rgb(1, 78, 53);

$dark-yellow: rgb(255, 238, 85);
$dark-yellow-secondary: rgb(255, 230, 0);

$orange: rgb(255, 138, 70);
$orange-secondary: rgb(255, 94, 0);

$red: rgb(187, 33, 33);
$coral: rgb(253, 175, 175);

$white: white;
$dark-white: rgba(255, 255, 255, 0.767);

$dark-grey: rgb(51, 51, 51);
$light-grey: rgba(255, 255, 255, 0.356);
